<!DOCTYPE html>
<html>
    <head>
        {% include "css.html" %}
    </head>

<body >
    <div class='container'>
        {% block content %}
    <h1>Hello base</h1>
    <p>Template is loaded</p>
    {% endblock %}
    </div>
</body>
<script>
    function helloWorldFromPy () {
        console.log("this is working")
    }
    const pyDesktopForms = document.getElementsByClassName("pydesktop-form") // []

    for (const myPyDesktopForm of pyDesktopForms) {
        const fileSelectEl = myPyDesktopForm.elements['fileInput']
        const filePathEl = myPyDesktopForm.elements['filePath']
        const currentFileTextEl = myPyDesktopForm.getElementsByClassName("currentFile")[0]
        myPyDesktopForm.addEventListener("submit", e=>{
            myFormSubmitHandler(e, myPyDesktopForm)
        })
        if (fileSelectEl) {
            fileSelectEl.addEventListener("click", e=>{
                if (e) {
                    e.preventDefault()
                }
                // calll the pywebview api and set 
                window.pywebview.api.saveFile().then(x=>{
                    let newPath = x
                    filePathEl.setAttribute("value", newPath)
                    if (currentFileTextEl) {
                        currentFileTextEl.innerText = newPath
                    }
                })
                
            })
        }
    }

    const myFormSubmitHandler = (e, myPyDesktopFormEl)=>{
        e.preventDefault()
        const myPyHandler = myPyDesktopFormEl.getAttribute("data-py-handler") || "defaultHandleForm"
        const myFormData = new FormData(myPyDesktopFormEl)
        const myJsonData = JSON.stringify(Object.fromEntries(myFormData))
        if (window.pywebview.api[myPyHandler]) {
            window.pywebview.api[myPyHandler](myJsonData).then(x=>{console.log("working")}).catch(err=>{alert("invalid method")})
        }
        
    }

    

    window.addEventListener("pywebviewready", ()=>{
        console.log(window.pywebview)
        // window.pywebview.api.sayName("This is cool!").then(x=>{
        //     console.log(x)
        // }).catch(err=>{
        //     console.log("error", err)
        // })

        setTimeout(()=>{
            window.pywebview.api.triggerSomeJS()
        }, 1200)
    })
</script>


</html>